.home{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


    h1{
        color: #E1EEEB;
        font-family: monospace;
        font-style: oblique;
        font-size: 50px;
        width: 500px;
        line-height: 60px;
        text-align: center;
    }
}

#planet{
    width: 200px;
    position: fixed;
    bottom: 120px;
    left: 50px;
    animation: space;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#astro-lua{
    width: 240px;
    position: fixed;
    right: 100px;
    bottom: 40px;
    animation: gravidade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#stars{
    width: 200px;
    position: fixed;
    left: 220px;
    top: 130px;
    animation: highlight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#cometa{
    width: 200px;
    position: fixed;
    right: 20px;
    top: 20px;
    animation: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes gravidade {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(40px);
    }
    50% {
        transform: translateY(30px);
    }
    75% {
        transform: translateY(-40px);
    }
    100%  {
        transform: translateY(0);
    }
}

@keyframes space {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes move {
    0% {
        top: -200px;
        right: -200px;
    }
    100% {
        top: 100vh;
        right: 105vw;
    }
}

@keyframes highlight {
    0% {
        filter: brightness(1);
    }
    20% {
        filter: brightness(1.5);
    }
    100% {
        filter: brightness(1);
    }
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 412px){
    img{
        height: 180px;
    }

    #planet{
        left: 20px;
        bottom: 150px;
        width: 120px;
        height: 120px;
    }

    #stars{
        left: 20px;
        top: 150px;
        width: 120px;
        height: 120px;
    }

    #astro-lua{
        right: 30px;
        bottom: 150px;
        width: 180px;
        height: 180px;
        margin-bottom: -80px;
    }

    #cometa{
        width: 120px;
        height: 120px;
    }

    h1{
        height: 380px;
    }
}